 {
  "presets": [
    ["@babel/preset-react"],
    ["@babel/preset-typescript"],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],  //支持装饰器
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }] // `style: true` for less  引入antd
  ],
  "overrides":[
    {
      "test":["./webpack/**/*"],
      "presets":[["@babel/preset-env"]]
    }
  ]
}